body{
	background-color: #000;
}

#questionHolder{
	position:absolute;
	width: 800px;
	height: 600px;
	background-color: #32cd32;
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 100px;

}

#mainTitle{
	color: #fff;
	text-shadow: 3px 3px #ffd700;
	font-size: 50px;
	text-align: center;

}

#startButton{
	color:#fff;
	background:#4aaaa5;
	font-size: 20px;
	padding:10px 20px;
	border:none;
}

#message{
	color:#fff;
}