html, body{
  height:100%;
}

body{
  background-image: url(../images/WWFbanner.jpg);
  text-align: center;

}

#wrapper{
  padding: 5% 0;
  background-color: #000;
  width:960px;
  margin:5% auto;
  box-sizing: border-box;
  min-height: 80%;
  color: #fff;
}

#subwrapper{
  position: relative;
  top:20%;
}

button{
  display:block;
  width:400px;
  height:100px;
  margin: 10px auto 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}

h2{
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 10%;
  border:2px solid blue;
  background: #ffd700;
}

#quiz-area h2{
  margin-top: 50px;
}

button {
  border:2px solid blue;
  background: #ffd700;
}

#mainTitle{
	color: #fff;
	text-shadow: 3px 3px #ffd700;
	font-size: 50px;
	text-align: center;
	margin-bottom: 10px;

}
